.bg-img1 {
  height: 400px;
  background-color: #000;
  background-size: cover;
  background-image: url(https://cafefcdn.com/2019/10/24/photo-1-1571883845332794367689.jpg);
}

.bg-img2 {
  height: 400px;
  background-color: #000;
  background-size: cover;
  background-image: url(https://cafefcdn.com/2019/10/24/photo-1-1571883845332794367689.jpg);
}

.bg-img3 {
  height: 400px;
  background-color: #000;
  background-size: cover;
  background-image: url(https://cafefcdn.com/2019/10/24/photo-7-1571883848533779832303.jpg);
}